<!DOCTYPE html>
<html lang="en">
<body>
    <div style="text-align:center;">
        There has been a request to reset the password for your account. If this was not you please disregard this e-mail.
        <br><br>
        If this was you then reset your password by clicking the button below.
    </div>
    
    <br><br>
    <div style="text-align:center;"><a href="http://localhost:5000/resetpassword?resetId=REPLACEWITHRESETID"style="font-weight: normal;
        font-family: sans-serif;
        box-sizing: inherit;
        background-color: #F44336 !important;
        border: none;
        border-radius: 2px;
        text-transform: uppercase;
        outline: 0;
        text-decoration: none;
        color: #fff;
        text-align: center;
        letter-spacing: .5px;
        height: 54px;
        line-height: 54px;
        font-size: 15px;
        padding: 0 28px;
        position: relative;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        vertical-align: middle;
        z-index: 1;
        transition: .3s ease-out;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);">RESET PASSWORD</a></div>
    <br><br>
    <div style="text-align:center;">
    If you have issues viewing this e-mail or with your account please contact support@wpcts.com
    </div>

</body>
</html>
