<!--CHANGES TO THE SHARED HEADER MUST ALSO BE PUT INTO THE NAVBAR FOR RIKISHI PAGE MANUALLY SO IT CAN KEEP DIFFERENT STRUCTURE-->

<nav class="red lighten-1" role="navigation">
    <ul class="right hide-on-med-and-down">
      <li><a href="/home">Home</a></li>
      <li><a href="/leaderboard">Leaderboard</a></li>
      <li><a href="/mystable">My Stable</a></li>
      <li><a href="/rikishi">Rikishi</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
</nav>

<ul id="nav-mobile" class="sidenav">
  <li><a href="/home">Home</a></li>
  <li><a href="/watch">Watch</a></li>
  <li><a href="/leaderboard">Leaderboard</a></li>
  <li><a href="/rules">Fantasy Rules</a></li>
  <li><a href="/mystable">My Stable</a></li>
  <li><a href="/rikishi">Rikishi Info</a></li>
  <li><a href="/chodes">Chodes</a></li>
  <li><a href="/logout">Logout</a></li>
  <li><a href="/theprophecy">Omae wa mou shindeiru</a></li>
</ul>