<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>WPCTS - Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/views/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/views/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="red lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">WPCTS</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/mystable">My Stable</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center red-text">Get To Know Sumo</h1>
      <div class="row center">
        <h5 class="header col s12 light">Sumo Wrestlers are called Rikishi. To know more about the Rikishi click on the button below</h5>
      </div>
      <div class="row center">
        <a href="/rikishi" id="download-button" class="btn-large waves-effect waves-light red">View Rikishi</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">store</i></h2>
            <h5 class="center">The Stable</h5>

            <p class="light">All professional sumo wrestlers began their careers as youngsters in a communal environment known as a stable. Stables contain all of the people who are involved in the production of sumo wrestling including hairdressers, referees, and retired sumo wrestlers who conduct training sessions. These communes are run by a stable master and his wife - an oyakata and okamisan - with the goal of preserving and teaching the various disciplines and traditions of sumo wrestling.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">info</i></h2>
            <h5 class="center">The Rules</h5>

            <p class="light">A sumo wrestling match concludes when one of the wrestlers is either knocked out of the ring or hits the sand with any part of his body other than his feet. There are also illegal moves that disqualify a wrestler such as hair pulling or punching with a closed fist.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">local_dining</i></h2>
            <h5 class="center">Big Chonks</h5>

            <p class="light">Sumo wrestlers maintain their infamously large physique with the help of chanko. This is a high-protein, high-starch, high-calorie diet which wrestlers consume twice daily to keep their metabolism low. According to Web-Japan.org they normally eat at around 11:00 a.m. and later at 6:00 p.m. The younger wrestlers serve the chanko which generally consists of stews, sashimi, deep-fried food, and hamburger steaks. Taking long naps after meals is viewed as a training tactic that helps wrestlers achieve a bigger physical presence.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Sumo Info</h5>
          <p class="grey-text text-lighten-4">Sumo has a lot of traditions and rituals. To learn more about the life of a Rikishi and the pageantry of Sumo click the links to view videos produced on the subject (in English) from the Japanese government TV station NHK.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Traditions</h5>
          <ul>
            <li><a class="white-text" target="_blank" href="https://www3.nhk.or.jp/nhkworld/en/tv/sumo/sumopedia/22/">Sumo Rankings Explained</a></li>
            <li><a class="white-text" target="_blank" href="https://www3.nhk.or.jp/nhkworld/en/tv/sumo/sumopedia/32/">Forbidden Moves</a></li>
            <li><a class="white-text" target="_blank" href="https://www3.nhk.or.jp/nhkworld/en/tv/sumo/sumopedia/53/">Sumo Hair Rules</a></li>
            <li><a class="white-text" target="_blank" href="https://www3.nhk.or.jp/nhkworld/en/tv/sumo/sumopedia/4/">Gyoji - The Referees</a></li>
            <li><a class="white-text" target="_blank" href="https://www3.nhk.or.jp/nhkworld/en/tv/sumo/sumopedia/67/">Women's Sumo</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Life of Sumo</h5>
          <ul>
            <li><a class="white-text" target="_blank" href="https://www3.nhk.or.jp/nhkworld/en/tv/sumo/sumopedia/31/">Becoming a Sumo Wrestler</a></li>
            <li><a class="white-text" target="_blank" href="https://www3.nhk.or.jp/nhkworld/en/tv/sumo/sumopedia/24/">Sumo Basic Training</a></li>
            <li><a class="white-text" target="_blank" href="https://www3.nhk.or.jp/nhkworld/en/tv/sumo/sumopedia/56/">Choosing a Ring Name</a></li>
            <li><a class="white-text" target="_blank" href="https://www3.nhk.or.jp/nhkworld/en/tv/sumo/sumopedia/5/">Chanko - The Sumo Diet</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
