<html>
<script src="/js/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script>
    $(function() {
        $(".header").load("/views/partials/header.html");
    });
</script>
<div class="header"></div>

<link rel="stylesheet" type="text/css" href="/views/stylesheets/invalid.css" />
<div class="invalid-page">
    The reset password request is invalid.

    </div>
</div>
<div class="footer"></div>

</html>