<link href="/views/stylesheets/materialize.css" rel="stylesheet">

<html>
<head>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
                <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
                <title>WPCTS - Home</title>
              
                <!-- CSS  -->
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                <link href="/views/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
                <link href="/views/stylesheets/gallery.css" rel="stylesheet">
                <link href="/views/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <!-- Navbar and Header -->
    <nav class="nav-extended">
        <div class="nav-background" style="background-color:#000">
            <div class="background"  style="background-image: url('');"></div>
        </div>
        <div class="nav-wrapper db">
              <a href="/home" class="brand-logo">WPCTS</a>
              <ul class="right hide-on-med-and-down" style="float:right">
                <li><a href="/home">Home</a></li>
                <li><a href="/mystable">My Stable</a></li>
                <li><a href="/rules">Fantasy rules</a></li>
                <li><a href="/rikishi">Rikishi Info</a></li>
                <li><a href="/logout">Logout</a></li>
                
              </ul>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      
              <div class="nav-header de">
                <h1>Leaderboard</h1>
                <h3 id='points'></h3>
              </div>
            </div>
    </nav>

    <ul class="collection with-header" id="collection">
        
    </ul>
</body>
</html>


<script src='/js/jquery.js'></script>
<script src='/js/materialize.js'></script>
<script src='/js/leaderboard.js'></script>