<link href="/views/stylesheets/materialize.css" rel="stylesheet">

<html>
<head>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
                <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
                <title>WPCTS - Leaderboard</title>
              
                <!-- CSS  -->
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                <link href="/views/stylesheets/gallery.css" rel="stylesheet">
                <link href="/views/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <!-- Navbar and Header -->
    <%- include header.ejs %>
    
    <div class="nav-header de white-text">
        <h1>Leaderboard</h1>
        <h2>Upcoming Tournament: Nagoya Basho 2020</h2>
    </div>
    <div class="dropdown black-text">
      <select id="tournaments">
        <option selected value="Nagoya20">Nagoya Basho (July 2020)</option>
        <option value="Haru20">Haru Basho (March) 2020</option>
        <option value="Hatsu20">Hatsu Basho (January) 2020</option>
        <option value="Kyushu19">Kyushu Basho (November) 2019</option>
      </select>
    </div>
    <ul class="collection with-header" id="collection">
        
    </ul>
    <div id="loading"></div>
</body>
</html>


<script src='/js/jquery.js'></script>
<script src='/js/materialize.js'></script>
<script src='/js/leaderboard.js'></script>
<script src='/js/init.js'></script>
