<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>WPCTS - Rules</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/views/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/views/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="red lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">WPCTS</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
        <li><a href="/mystable">My Stable</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center red-text">Sumo League Rules</h1>
      <div class="row center">
        <h5 class="header col s12 light">The League of Extraordinarily Large Gentlemen</h5>
      </div>
      <div class="row center">
        <a href="/rikishi" id="download-button" class="btn-large waves-effect waves-light red">View Rikishi</a>
        <a href="/home" id="download-button" class="btn-large waves-effect waves-light red">    Home    </a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container white-text">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">store</i></h2>
            <h5 class="center">Rules</h5>

            <p class="light">
                You may choose only up to one fighter from the Sanyaku ranks (Ozeki, Komusubi, Sekiwake) and may choose six total fighters. You do not have to choose a Sanyaku but it is highly recommended since they earned their position by winning a lot.
                Substitutes may only be used if your fighter withdraws due to injury. You may not withdraw a fighter to use a substitute unless they are no longer active in the tournament.
                Fantasy sumo didn't exist until now so these rules are all made up for this league. If you have rule suggestions please e-mail them to imaketherulesshutup@mcmichael.com
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">info</i></h2>
            <h5 class="center">Points</h5>
            <p class="light">
                Win: 1 Point<br>
                Loss by kimarite (penalty): -1 Point<br>
                Win against a Yokozuna: 3 Points<br>
                Win a technique trophy: 5 Points<br>
                Win the tournament: 8 Points<br>
                Gyoji (Referee) knocked down: 1 Point for both fighters<br>
                Gyoji suicide: 1000 Points for both fighters<br>

                Your substitute only gains points for the days they are active and you keep points your withdrawn fighter got until that point.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">local_dining</i></h2>
            <h5 class="center">Tournament Setup</h5>

            <p class="light">
                The tournament will begin November 10th. Your rosters will be locked Sunday November 10th at 9:00PM.
                If you have an issue with your roster after this time let me know so that I can get it fixed before a day of tournament results is posted.
                This is the first iteration of the league (and website) so I am sure there will be issues that we will fix manually to make sure no one is handicapped in any way besides not knowing anything about sumo.
            </p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Sumo Info</h5>
          <p class="grey-text text-lighten-4">Sumo has a lot of traditions and rituals. To learn more about the life of a Rikishi and the pageantry of Sumo click the links to view videos produced on the subject (in English) from the Japanese government TV station NHK.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Traditions</h5>
          <ul>
            <li><a class="white-text" target="_blank" href="https://www3.nhk.or.jp/nhkworld/en/tv/sumo/sumopedia/22/">Sumo Rankings Explained</a></li>
            <li><a class="white-text" target="_blank" href="https://www3.nhk.or.jp/nhkworld/en/tv/sumo/sumopedia/32/">Forbidden Moves</a></li>
            <li><a class="white-text" target="_blank" href="https://www3.nhk.or.jp/nhkworld/en/tv/sumo/sumopedia/53/">Sumo Hair Rules</a></li>
            <li><a class="white-text" target="_blank" href="https://www3.nhk.or.jp/nhkworld/en/tv/sumo/sumopedia/4/">Gyoji - The Referees</a></li>
            <li><a class="white-text" target="_blank" href="https://www3.nhk.or.jp/nhkworld/en/tv/sumo/sumopedia/67/">Women's Sumo</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Life of Sumo</h5>
          <ul>
            <li><a class="white-text" target="_blank" href="https://www3.nhk.or.jp/nhkworld/en/tv/sumo/sumopedia/31/">Becoming a Sumo Wrestler</a></li>
            <li><a class="white-text" target="_blank" href="https://www3.nhk.or.jp/nhkworld/en/tv/sumo/sumopedia/24/">Sumo Basic Training</a></li>
            <li><a class="white-text" target="_blank" href="https://www3.nhk.or.jp/nhkworld/en/tv/sumo/sumopedia/56/">Choosing a Ring Name</a></li>
            <li><a class="white-text" target="_blank" href="https://www3.nhk.or.jp/nhkworld/en/tv/sumo/sumopedia/5/">Chanko - The Sumo Diet</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
